/*****howard*****/
/* #howard(headerhdm8ad340b3) #css starts  */
.headerhdm8ad340b3 .logo{
    max-height: 40px
}
.headerhdm8ad340b3 .btn-primary{
    font-weight: 600;
    background-color: white;
    border: none;
    border-radius: 0px;
    color: black
}
.headerhdm8ad340b3 .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #FF9F67;
    color: white;
    transition: 0.5s ease
}
.headerhdm8ad340b3 nav ul li a{
    font-weight: 600
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link{
    font-weight: 600
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link:hover{
    color: #A576FF
}
/* #howard(headerhdm8ad340b3) #css ends  */
/*****howard*****/

/*****adolf*****/
/* #adolf(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369 .jumbotron{
    border-radius: 0px;
    background: #fff
}
.aboutp3dce575962b3c369 .DescriptionHeading {
        font-size: 44px;
        color: #37423b
    }

    .aboutp3dce575962b3c369 .DescriptionPara {
        color: #37423b;
        font-size: 20px
    }
    
    .aboutp3dce575962b3c369 .badge{
        display: none
    }
    .aboutp3dce575962b3c369 .searchBtn{
        background-color:#FF9F67;
        border-radius: 0px;
        color: white;
        font-weight: bold
    }
/* #adolf(p3dce575962b3c369) #css ends  */
/*****adolf*****/

/*****single*****/
/* #single(eb6af6ab30a03fde) #css starts  */
.serviceeb6af6ab30a03fde {
    padding: 0rem 0;
    background: #fff
}
.serviceeb6af6ab30a03fde .fa{
    font-size: 40px;    
    color: #FF9F67
   }
.serviceeb6af6ab30a03fde h4{
    font-weight: 700;
    margin-top: 15px
}    
.serviceeb6af6ab30a03fde .box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin:30px 0px
}
.serviceeb6af6ab30a03fde span {
    font-size: 16px;
}

/* #single(eb6af6ab30a03fde) #css ends  */
/*****single*****/

/*****funtush*****/
/* #funtush(funtushftac0ssp3mu) #css starts  */
.funtushftac0ssp3mu{
    padding: 5.5rem 0
}
.funtushftac0ssp3mu h1{
    font-size: 32px;
}
.funtushftac0ssp3mu .lead{
    font-size: 20px;
}
.funtushftac0ssp3mu .img-fluid {
    margin-bottom: 15px;
}
/* #funtush(funtushftac0ssp3mu) #css ends  */
/*****funtush*****/

/*****waldina*****/
/* =============================  #features #waldina start =========================== */
.b2bbaef8b0c43ef9{
    padding: 5.5rem 0
}
.MoksyHead{
    color: #2D2D2D
}
/* =============================  #features #waldina end =========================== */
/*****waldina*****/

/*****crunella*****/
    /* #crunella(crunellaobWyteyCWzRLkMG) #css starts  */
    .crunellaobWyteyCWzRLkMG .fdb-block  h1 {
        font-weight: 600;
        margin-top: 15px;
        font-size: 32px
    }
    
    .crunellaobWyteyCWzRLkMG .fdb-block .lead {
        font-size: 20px
    }
    /* #crunella(crunellaobWyteyCWzRLkMG) #css ends  */
/*****crunella*****/

/*****sagnu*****/
/* #sagnu(ebfcf165e4ae5852) #css starts  */
.serviceebfcf165e4ae5852 h2 {
    font-size: 44px
}
.serviceebfcf165e4ae5852 .stroke {
    color: #A576FF
}
.serviceebfcf165e4ae5852 .btndecor {
    background-color: #A576FF
}

.serviceebfcf165e4ae5852 .card-img-top {
    max-height: 70px;
    max-width: 70px;
    margin-left: 15px
}

/* #sagnu(ebfcf165e4ae5852) #css ends  */
/*****sagnu*****/

/*****taliyah*****/ 
/* #taliyah(teamtm4kyeslxmy) #css starts */

    .teamtm4kyeslxmy .fdb-block h1{
        color: #2D2D2D;
        font-size: 32px
    }
    .teamtm4kyeslxmy .fdb-block .lead{
        font-size: 20px
    }
      
/* #taliyah(teamtm4kyeslxmy) #css ends */
/*****taliyah*****/

/*****coe*****/
    /* #coe(calltoactionca00jikay2r) #css starts  */
    .calltoactionca00jikay2r .fdb-block .btn-primary{
        border-radius: 0px;
        font-weight: 600;
        background-color: #FF9F67;
        border-color: #FF9F67
     }
     .calltoactionca00jikay2r .fdb-block .btn-primary:hover{
        background-color: #FF9F67;
        border-color: #FF9F67
     }
    /* #coe(calltoactionca00jikay2r) #css ends  */
/*****coe*****/

/*****funny*****/
/* #funny(9fc05b1281e93c03) #css starts */
.footerb9fc05b1281e93c03 img {
    max-height: 40px
}

.footerb9fc05b1281e93c03 .footer-top .widget-title {
    font-size: 16px;
    font-weight: 600
}
.footerb9fc05b1281e93c03 .footer-top .small-post-title a {
    font-size: 14px
}
.footerb9fc05b1281e93c03 .news-letter-form input[type="submit"] {
    background-color: #FF9F67;
    border-radius: 0px;
    color: #ffffff
}
.footerb9fc05b1281e93c03 .small-post-item .post-date {
    color: #A576FF
}
.footerb9fc05b1281e93c03 .courses-link-list li a:hover {
    color: #A576FF
}
.footerb9fc05b1281e93c03 .copy-right-text a {
    color: #A576FF;
}
.footerb9fc05b1281e93c03 .news-letter-form input:focus{
    outline: none
}

@media only screen and (max-width: 480px) {
    .footerb9fc05b1281e93c03 .footer-top .widget-title {
       margin-top: 30px;
    }
}
/* #funny(9fc05b1281e93c03) #css ends */
/*****funny*****/