@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mooli&display=swap');
*{
font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif
}

/*****howard*****/
/* #howard(headerhdm8ad340b3) #css starts  */
.headerhdm8ad340b3 .logo{
    max-height: 40px
}
.headerhdm8ad340b3 .btn-primary{
    font-weight: 500;
    background-color: white;
    border: none;
    border-radius: 0px;
    color: black
}
.headerhdm8ad340b3 .btn-primary:hover{
    background-color: #FF9F67;
    color: white;
    transition: 0.5s ease
}
.headerhdm8ad340b3 nav ul li a{
    font-weight: 500
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link{
    font-weight: 500
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link:hover{
    color: #A576FF
}
/* #howard(headerhdm8ad340b3) #css ends  */
/*****howard*****/

/*****adolf*****/
/* #adolf(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369 .jumbotron{
    border-radius: 0px
}
.aboutp3dce575962b3c369 .DescriptionHeading {
        font-size: 44px;
        color: #2D2D2D
    }

    .aboutp3dce575962b3c369 .DescriptionPara {
        color: #2D2D2D;
        font-size: 20px
    }
    
    .aboutp3dce575962b3c369 .badge{
        color: #A576FF;
        background-color: white;
        margin-left: -8px
    }
    .aboutp3dce575962b3c369 .searchBtn{
        background-color:#FF9F67;
        border-radius: 0px;
        color: white;
        font-weight: bold
    }
/* #adolf(p3dce575962b3c369) #css ends  */
/*****adolf*****/

/*****single*****/
/* #single(eb6af6ab30a03fde) #css starts  */
.serviceeb6af6ab30a03fde{
    padding: 7.5rem 0;
    background: #fff
}
.serviceeb6af6ab30a03fde .fa{
    font-size: 40px;    
    color: #FF9F67
   }
.serviceeb6af6ab30a03fde h4{
    font-weight: 700;
    margin-top: 15px
}    
.serviceeb6af6ab30a03fde .box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin:30px 0px
}
.serviceeb6af6ab30a03fde span {
    font-size: 16px;
}

/* #single(eb6af6ab30a03fde) #css ends  */
/*****single*****/

/*****funtush*****/
/* #funtush(funtushftac0ssp3mu) #css starts  */
.funtushftac0ssp3mu{
    padding: 7.5rem 0
}
.funtushftac0ssp3mu h1{
    font-size: 32px;
}
.funtushftac0ssp3mu .lead{
    font-size: 20px;
}
.funtushftac0ssp3mu .img-fluid {
    margin-bottom: 15px;
}
/* #funtush(funtushftac0ssp3mu) #css ends  */
/*****funtush*****/

/*****waldina*****/
/* =============================  #features #waldina start =========================== */
.b2bbaef8b0c43ef9{
    padding: 7.5rem 0
}
.MoksyHead{
    color: #2D2D2D
}
/* =============================  #features #waldina end =========================== */
/*****waldina*****/