@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mooli&display=swap');
*{
font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif
}

/*****howard*****/
/* #howard(headerhdm8ad340b3) #css starts  */
.headerhdm8ad340b3 .logo{
    max-height: 40px
}
.headerhdm8ad340b3 .btn-primary{
    font-weight: 500;
    background-color: white;
    border: none;
    border-radius: 0px;
    color: black
}
.headerhdm8ad340b3 .btn-primary:hover{
    background-color: #FF9F67;
    color: white;
    transition: 0.5s ease
}
.headerhdm8ad340b3 nav ul li a{
    font-weight: 500
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link{
    font-weight: 500
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link:hover{
    color: #A576FF
}
/* #howard(headerhdm8ad340b3) #css ends  */
/*****howard*****/

/*****adolf*****/
/* #adolf(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369 .jumbotron{
    border-radius: 0px
}
.aboutp3dce575962b3c369 .DescriptionHeading {
        font-size: 44px;
        color: #2D2D2D
    }

    .aboutp3dce575962b3c369 .DescriptionPara {
        color: #2D2D2D;
        font-size: 20px
    }
    
    .aboutp3dce575962b3c369 .badge{
        color: #A576FF;
        background-color: white;
        margin-left: -8px
    }
    .aboutp3dce575962b3c369 .searchBtn{
        background-color:#FF9F67;
        border-radius: 0px;
        color: white;
        font-weight: bold
    }
/* #adolf(p3dce575962b3c369) #css ends  */
/*****adolf*****/

/*****single*****/
/* #single(eb6af6ab30a03fde) #css starts  */
.serviceeb6af6ab30a03fde{
    padding: 7.5rem 0;
    background: #fff
}
.serviceeb6af6ab30a03fde .fa{
    font-size: 40px;    
    color: #FF9F67
   }
.serviceeb6af6ab30a03fde h4{
    font-weight: 700;
    margin-top: 15px
}    
.serviceeb6af6ab30a03fde .box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin:30px 0px
}
.serviceeb6af6ab30a03fde span {
    font-size: 16px;
}

/* #single(eb6af6ab30a03fde) #css ends  */
/*****single*****/

/*****funtush*****/
/* #funtush(funtushftac0ssp3mu) #css starts  */
.funtushftac0ssp3mu{
    padding: 7.5rem 0
}
.funtushftac0ssp3mu h1{
    font-size: 32px;
}
.funtushftac0ssp3mu .lead{
    font-size: 20px;
}
.funtushftac0ssp3mu .img-fluid {
    margin-bottom: 15px;
}
/* #funtush(funtushftac0ssp3mu) #css ends  */
/*****funtush*****/

/*****waldina*****/
/* =============================  #features #waldina start =========================== */
.b2bbaef8b0c43ef9{
    padding: 7.5rem 0
}
.MoksyHead{
    color: #2D2D2D
}
/* =============================  #features #waldina end =========================== */
/*****waldina*****/

/*****crunella*****/
    /* #crunella(crunellaobWyteyCWzRLkMG) #css starts  */
    .crunellaobWyteyCWzRLkMG .fdb-block  h1 {
        font-weight: 600;
        margin-top: 15px;
        font-size: 32px
    }
    
    .crunellaobWyteyCWzRLkMG .fdb-block .lead {
        font-size: 20px
    }
    /* #crunella(crunellaobWyteyCWzRLkMG) #css ends  */
/*****crunella*****/

/*****sagnu*****/
/* #sagnu(ebfcf165e4ae5852) #css starts  */
.serviceebfcf165e4ae5852 h2 {
    font-size: 44px
}
.serviceebfcf165e4ae5852 .stroke {
    color: #A576FF
}
.serviceebfcf165e4ae5852 .btndecor {
    background-color: #A576FF
}

.serviceebfcf165e4ae5852 .card-img-top {
    max-height: 70px;
    max-width: 70px;
    margin-left: 15px
}

/* #sagnu(ebfcf165e4ae5852) #css ends  */
/*****sagnu*****/

/*****taliyah*****/ 
/* #taliyah(teamtm4kyeslxmy) #css starts */

    .teamtm4kyeslxmy .fdb-block h1{
        color: #2D2D2D;
        font-size: 32px
    }
    .teamtm4kyeslxmy .fdb-block .lead{
        font-size: 20px
    }
      
/* #taliyah(teamtm4kyeslxmy) #css ends */
/*****taliyah*****/

/*****coe*****/
    /* #coe(calltoactionca00jikay2r) #css starts  */
    .calltoactionca00jikay2r .fdb-block .btn-primary{
        border-radius: 0px;
        font-weight: 600;
        background-color: #FF9F67;
        border-color: #FF9F67
     }
     .calltoactionca00jikay2r .fdb-block .btn-primary:hover{
        background-color: #FF9F67;
        border-color: #FF9F67
     }
    /* #coe(calltoactionca00jikay2r) #css ends  */
/*****coe*****/

/*****funny*****/
/* #funny(9fc05b1281e93c03) #css starts */
.footerb9fc05b1281e93c03 {
    min-height: 40vh
}

.footerb9fc05b1281e93c03 a,
.footerb9fc05b1281e93c03 a:hover,
.footerb9fc05b1281e93c03 a:focus,
.footerb9fc05b1281e93c03 a:active {
    text-decoration: none;
    outline: none
}

.footerb9fc05b1281e93c03 a,
.footerb9fc05b1281e93c03 a:active,
.footerb9fc05b1281e93c03 a:focus {
    color: #6f6f6f;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s
}

.footerb9fc05b1281e93c03 ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.footerb9fc05b1281e93c03 img {
    max-width: 100%;
    height: auto
}

.footerb9fc05b1281e93c03 .footer-section {
    background-color: #233243;
    position: relative;
    overflow: hidden;
    z-index: 9
}

.footerb9fc05b1281e93c03 .footer-section:before {
    content: '';
    position: absolute;
    top: -146%;
    left: -18%;
    width: 44%;
    height: 257%;
    transform: rotate(54deg);
    background-color: rgb(31, 47, 64);
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    z-index: -10
}

.footerb9fc05b1281e93c03 .footer-section:after {
    position: absolute;
    content: '';
    background-color: rgb(31, 47, 64);
    top: -24%;
    right: 4%;
    width: 26%;
    height: 264%;
    transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    -moz-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    -o-transform: rotate(44deg);
    z-index: -10
}

.footerb9fc05b1281e93c03 .footer-top {
    padding-top: 96px;
    padding-bottom: 50px
}

.footerb9fc05b1281e93c03 .footer-top p,
.footerb9fc05b1281e93c03 .company-footer-contact-list li {
    color: #ffffff
}

.footerb9fc05b1281e93c03 .company-footer-contact-list {
    margin-top: 10px
}

.footerb9fc05b1281e93c03 .company-footer-contact-list li {
    display: flex;
    display: -webkit-flex;
    align-items: center
}

.footerb9fc05b1281e93c03 .company-footer-contact-list li+li {
    margin-top: 5px
}

.footerb9fc05b1281e93c03 .company-footer-contact-list li i {
    margin-right: 10px;
    font-size: 20px;
    display: inline-block
}

.footerb9fc05b1281e93c03 .footer-top .site-logo {
    margin-bottom: 25px;
    display: block;
    max-width: 170px
}

.footerb9fc05b1281e93c03 .widget-title {
    text-transform: capitalize
}

.footerb9fc05b1281e93c03 .footer-top .widget-title {
    color: #ffffff;
    margin-bottom: 40px
}

.footerb9fc05b1281e93c03 .courses-link-list li+li {
    margin-top: 10px
}

.footerb9fc05b1281e93c03 .courses-link-list li a {
    color: #ffffff;
    text-transform: capitalize;
    
    font-weight: 400
}

.footerb9fc05b1281e93c03 .courses-link-list li a:hover {
    color: #ffb606
}

.footerb9fc05b1281e93c03 .courses-link-list li i {
    margin-right: 5px
}

.footerb9fc05b1281e93c03 .footer-top .small-post-title a {
    
    color: #ffffff;
    font-weight: 400
}

.footerb9fc05b1281e93c03 .small-post-item .post-date {
    color: #ffb606;
    margin-bottom: 3px;
    
    font-weight: 400
}

.footerb9fc05b1281e93c03 .small-post-list li+li {
    margin-top: 30px
}

.footerb9fc05b1281e93c03 .news-letter-form {
    margin-top: 15px
}

.footerb9fc05b1281e93c03 .news-letter-form input {
    width: 100%;
    padding: 12px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none
}

.footerb9fc05b1281e93c03 .news-letter-form input[type="submit"] {
    width: auto;
    border: none;
    background-color: #ffb606;
    padding: 9px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #ffffff;
    margin-top: 10px
}

.footerb9fc05b1281e93c03 .footer-bottom {
    padding: 13px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.149)
}

.footerb9fc05b1281e93c03 .copy-right-text {
    color: #ffffff
}

.footerb9fc05b1281e93c03 .copy-right-text a {
    color: #ffb606
}

.footerb9fc05b1281e93c03 .terms-privacy li+li {
    margin-left: 30px
}

.footerb9fc05b1281e93c03 .terms-privacy li a {
    color: #ffffff;
    position: relative
}

.footerb9fc05b1281e93c03 .terms-privacy li a:after {
    position: absolute;
    content: '-';
    color: #ffffff;
    display: inline-block;
    top: 0;
    right: -18px
}

.footerb9fc05b1281e93c03 .terms-privacy li+li a:after {
    display: none
}

/* #funny(9fc05b1281e93c03) #css ends */
/*****funny*****/